<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Генератор пакетов</title>
	<link rel="stylesheet" href="/generator.css">
</head>

<body>
	<div class="back-button-container">
		<button class="back-button" onclick="history.back()">Назад</button>
	</div>

	<h1>Генератор</h1>
	<form action="/send" method="post" enctype="multipart/form-data">
		<h2>Сетевые параметры</h2>

		<label for="mac-src">MAC-адрес источника:</label>
		<input type="text" placeholder="Введите MAC-адрес:" id="mac-src" name="mac-src" oninput="validateMAC(this)" required>
		<small>Формат: xx:xx:xx:xx:xx:xx или xx-xx-xx-xx-xx-xx</small>

		<label for="mac-dst">MAC-адрес получателя:</label>
		<input type="text" placeholder="Введите MAC-адрес" id="mac-dst" name="mac-dst" oninput="validateMAC(this)" required>
		<small>Формат: xx:xx:xx:xx:xx:xx или xx-xx-xx-xx-xx-xx</small>

		<label for="ip-src">IP-адрес источника:</label>
		<input type="text" placeholder="Введите IP-адрес" id="ip-src" name="ip-src" oninput="validateIP(this)" required>
		<small>Формат: xxx.xxx.xxx.xxx</small>

		<label for="ip-dst">IP-адрес получателя:</label>
		<input type="text" placeholder="Введите IP-адрес" id="ip-dst" name="ip-dst" oninput="validateIP(this)" required>
		<small>Формат: xxx.xxx.xxx.xxx</small>

		<label for="src-port">Порт источника:</label>
		<input type="text" placeholder="Введите номер порта" id="src-port" name="src-port" oninput="validatePort(this)" required>

		<label for="dst-port">Порт получателя:</label>
		<input type="text" placeholder="Введите номер порта" id="dst-port" name="dst-port" oninput="validatePort(this)" required>

		<label for="TTL">TTL:</label>
		<input type="text" placeholder="Введите число" id="TTL" name="TTL">
		<small>По умолчанию: 64</small>

		<h2>Источник данных</h2>
		<div>
			<label>
                <input type="radio" id="pseudoRand" name="dataSource" value="pseudoRand" checked onclick="toggleFileInput()">
                ПСП с большим периодом
            </label>
		</div>

		<div>
			<label>
                <input type="radio" id="file" name="dataSource" value="file" onclick="toggleFileInput()">
                Файл
                <input type="file" id="filename" name="filename" style="display: none;">
            </label>
		</div>


		<h2>Параметры пакетов</h2>
		<label for="packetSize" id="packetSizeLabel" style="display: none;">Размер пакетов (в байтах):</label>
		<input type="number" placeholder="Введите размер пакета" id="packetSize" name="packetSize" style="display: none;">

		<label for="countOfPackets">Количество пакетов:</label>
		<input type="number" placeholder="Введите число" id="countOfPackets" name="countOfPackets" required>

		<label for="interval">Интервал:</label>
		<input type="text" placeholder="Введите число" id="interval" name="interval" required>
		<small>сек</small>

    	<h2>Режим шлейфа</h2>
    	<label class="switch">
    		<input type="checkbox" id="toggleSwitch" name="toggleSwitch">
    		<span class="slider"></span>
    	</label>

		<button class="submit-button" type="submit">Запустить генератор</button>
	</form>

	<script src="/generator.js"></script>
</body>

</html>