<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генератор пакетов</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Отправитель пакетов</h1>
    <form action="/send" method="post" enctype="multipart/form-data">
        <h2>Сетевые параметры</h2>
        
        <label for="mac-src">MAC-адрес источника:</label>
        <input type="text" placeholder="Введите MAC-адрес:" id="mac-src" name="mac-src" oninput="validateMAC(this)" required>
        <small>Формат: xx:xx:xx:xx:xx:xx или xx-xx-xx-xx-xx-xx</small>

        <label for="mac-dst">MAC-адрес получателя:</label>
        <input type="text" placeholder="Введите MAC-адрес" id="mac-dst" name="mac-dst" oninput="validateMAC(this)" required>
        <small>Формат: xx:xx:xx:xx:xx:xx или xx-xx-xx-xx-xx-xx</small>

        <label for="ip-src">IP-адрес источника:</label>
        <input type="text" placeholder="Введите IP-адрес" id="ip-src" name="ip-src" oninput="validateIP(this)" required>
        <small>Формат: xxx.xxx.xxx.xxx</small>

        <label for="ip-dst">IP-адрес получателя:</label>
        <input type="text" placeholder="Введите IP-адрес" id="ip-dst" name="ip-dst" oninput="validateIP(this)" required>
        <small>Формат: xxx.xxx.xxx.xxx</small>

        <label for="src-port">Порт источника:</label>
        <input type="text" placeholder="Введите номер порта" id="src-port" name="src-port" oninput="validatePort(this)" required>

        <label for="dst-port">Порт получателя:</label>
        <input type="text" placeholder="Введите номер порта" id="dst-port" name="dst-port" oninput="validatePort(this)" required>

        <label for="TTL">TTL:</label>
        <input type="text" placeholder="Введите число" id="TTL" name="TTL">        
        <small>По умолчанию: 64</small>

        <h2>Источник данных</h2>
        <div>
            <label>
                <input type="radio" id="pseudoRand" name="dataSource" value="pseudoRand" checked onclick="toggleFileInput()">
                ПСП с большим периодом
            </label>
        </div>
        
        <div>
            <label>
                <input type="radio" id="file" name="dataSource" value="file" onclick="toggleFileInput()">
                Файл
                <input type="file" id="filename" name="filename" style="display: none;">
            </label>
        </div>
        

        <h2>Параметры пакетов</h2>
        <label for="packetSize" id="packetSizeLabel" style="display: none;">Размер пакета (в байтах):</label>
        <input type="number" placeholder="Введите размер пакета" id="packetSize" name="packetSize" style="display: none;">
        
        <label for="countOfPackets">Количество пакетов:</label>
        <input type="number" placeholder="Введите число" id="countOfPackets" name="countOfPackets" required>

        <label for="interval">Интервал:</label>
        <input type="text" placeholder="Введите число" id="interval" name="interval" required>
        <small>сек</small>

        <button type="submit">Сгенерировать пакет</button>
    </form>

    <script>
        function toggleFileInput() {
            const fileInput = document.getElementById('filename');
            const pseudoRandOption = document.getElementById('pseudoRand');
            const packetSizeInput = document.getElementById('packetSize');
            const packetSizeLabel = document.getElementById('packetSizeLabel');

            if (pseudoRandOption.checked) {
                fileInput.style.display = 'none';
                packetSizeInput.style.display = 'block';
                packetSizeLabel.style.display = 'block';

            } else {
                fileInput.style.display = 'block';
                packetSizeInput.style.display = 'none';
                packetSizeLabel.style.display = 'none';
            }
        }

        function validateIP(input) {
            const ipPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
            if (ipPattern.test(input.value)) {
                input.classList.add('valid');
                input.classList.remove('invalid');
            } else {
                input.classList.add('invalid');
                input.classList.remove('valid');
            }
        }

        function validateMAC(input) {
            const macPattern = /^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$/;
            if (macPattern.test(input.value)) {
                input.classList.add('valid');
                input.classList.remove('invalid');
            } else {
                input.classList.add('invalid');
                input.classList.remove('valid');
            }
        }

        function validatePort(input){
            const port = parseInt(input.value, 10);
            if (!isNaN(port) && Number.isInteger(port) && port >= 0 && port <= 65535) {
                input.classList.add('valid');
                input.classList.remove('invalid')
            } else {
                input.classList.add('invalid');
                input.classList.remove('valid');
            }
        }

        function checkInputsOnLoad() {
            const ipSrcInput = document.getElementById('ip-src');
            const ipDstInput = document.getElementById('ip-dst');
            const macSrcInput = document.getElementById('mac-src');
            const macDstInput = document.getElementById('mac-dst');
            const portSrcInput = document.getElementById('src-port');
            const portDstInput = document.getElementById('dst-port');

            validateIP(ipSrcInput);
            validateIP(ipDstInput);
            validateMAC(macSrcInput);
            validateMAC(macDstInput);
            validatePort(portSrcInput);
            validatePort(portDstInput);
        }

        document.getElementById('interval').addEventListener('input', function (event) {
            this.value = this.value
                .replace(/,/g, '.') // Заменяем запятую на точку
                .trim(); // Удаляем пробелы в начале и в конце
        });

        document.addEventListener('DOMContentLoaded', () => {
            checkInputsOnLoad();
            toggleFileInput();
        });
    </script>
</body>
</html>
