<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приёмник Пакетов</title>
    <link rel="stylesheet" href="/receiver.css">
</head>
<body>
    <div class="container">
        <h1>Приёмник Пакетов</h1>
        <div id="packets" class="packets-box">
            <h2>Принятые Пакеты:</h2>
            <ul id="packets-list"></ul>
        </div>
    </div>
    <script src="/receiver.js"></script>
    <script>
        document.getElementById('start-button').addEventListener('click', function() {
            const ipDst = document.getElementById('ip-dst').value;

            // отправка IP-адреса на сервер
            fetch('/receive-packets', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ ipDst: ipDst })
            })
            .then(response => {
                if (response.ok) {
                    // Обработка успешного ответа
                    console.log('Прием пакетов начат');
                } else {
                    console.error('Ошибка при запуске приема пакетов');
                }
            })
            .catch(error => console.error('Ошибка:', error));
        });
    </script>
</body>
</html>
