<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Приёмник Пакетов</title>
    <link rel="stylesheet" href="/receiver.css">
</head>
<body>
    <div class="container">
        <h1>Приёмник Пакетов</h1>
        <div id="packets" class="packets-box">
            <h2>Принятые Пакеты:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Номер пакета</th>
                        <th>Общая задержка, мс</th>
                        <th>Задержка до шлейфа, мс</th>
                        <th>Задержка обратно, мс</th>
                        <th>Задержка между пакетами, нс</th>
                    </tr>
                </thead>
                <tbody id="packets-list">
                    <!-- Здесь JS будет динамически вставлять строки -->
                </tbody>
            </table>
        </div>
        <button id="reportButton" style="display:none;">Показать отчет</button>
    </div>
    <script src="/receiver.js"></script>
</body>
</html>
